html, body, main{
    height: 100%;
    width: 100%;
}
main{
    background-color: blue;
}
a#menu svg{
    width: 40px;
    fill: #000;
}
nav{
    background-color: darkblue;
    width: 200px;
    height: 100%;
    position: absolute;
    transform: translate(-200px,0);
    transition: transform 0.4s ease;
}
nav.open{
    transform:translate(0,0);
}

@media screen and (min-width:600px){
    nav{
        position: relative;
        transform: translate(0,0)
    }
    body{
        display: flex;
        flex-flow: row nowrap;
    }
    main{
        width:auto;
        flex-grow: 1;
    }
}